@charset "UTF-8";

h3{
	color:blue;
}

h2{
	color: pink;
}

h1 {
	color: orange;
}
body{
		background: url("http://www.nmbreakthroughs.org/-/media/Northwestern/ContentHub/images/nutrition/nm-healthiercoffee-feature.jpg?h=720&w=1280");
	
}